body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 251, 236);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #3ae5cb;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
    text-align: center;
}

nav {
    background: #0386a6;
    padding: 0.5rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.ytembed {
    border: 50px solid #000000; /* Adjust border width and color as needed */
}