.cris-quote {
    /* textsiz; */
    margin-top: 20px;
    margin-left: 40px;
    padding: 2px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffb4b4;
}

.cris-image {
    margin-left: 40px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* Essential for Flexbox */
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 251, 236);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #3ae5cb;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
    text-align: center;
    size: 10px;
}

nav {
    background: #0386a6;
    padding: 0.5rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.ytembed {
    border: 50px solid #000000;
    /* Adjust border width and color as needed */
}